.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;

    &__title {
        font-family: 'Fira Sans', sans-serif;
        font-size: 26px;
        line-height: 28px;
        font-weight: bold;
        text-align: center;
        margin-bottom: 10px;
        
        -webkit-text-fill-color: rgb(219, 189, 18);
    }

    &__back-button {
        margin-top: 20px;
        font-family: 'Fira Sans', sans-serif;
        -webkit-text-fill-color: rgb(255, 225, 52);
        font-weight: bold;
        font-size: 40px;
    }
}

.form {
    padding: 20px;
    border: 3px solid #000;
    border-radius: 6%;
    background-color: rgba(155, 145, 107, 0.3);
    
    &__label {
        font-family: 'Fira Sans', sans-serif;
        -webkit-text-stroke: 0.1px #000;
        -webkit-text-fill-color: rgb(255, 225, 52);
       

        @media (min-width: 20px) and (max-width: 350px) {
            margin-bottom: 2px;
            display: flex;
            flex-direction: column;
            text-align: center;
          }
    }

    &__p {
        margin-bottom: 10px;
        text-align: center;
    }

    &__input {
        font-family: 'Fira Sans', sans-serif;
        text-overflow: ellipsis;
        overflow: hidden;
        border-radius: 7px;
        border: 2px solid #000;
        font-weight: bold;
        height: 25px;
        background-color: rgba(232, 240, 176, 0.63);

        @media (min-width: 20px) and (max-width: 350px) {
            width: 232px;
          }
    }

    &__button {
        font-family: 'Fira Sans', sans-serif;
        color: rgb(0, 0, 0);
        border-radius: 7px;
        border: 2px solid #000;
        font-weight: bold;
        height: 32px;
        background-color: rgba(248, 225, 16, 0.993);

        @media (min-width: 20px) and (max-width: 350px) {
            margin-top: 1px;
            width: 240px;
          }
    }
}